:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --grey-color: #484848;
    --sub-color: rgba(0, 0, 0, 0.4);
    --primary-color: #e6e9f0;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Ubuntu', sans-serif;
    /* font-family: 'Kosugi Maru', sans-serif; */
    background-color: #FFFFFF;
    /* scroll-behavior: smooth; */
}

body {
    overflow: hidden visible;
}

.main {
    width: 100%;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;

}

.grid__column-3 {
    width: calc(2/6*100%);
    margin-top: 60px;
    padding-left: 45px;
    padding-right: 45px;
}

.grid__column-4 {
    width: calc(2/8*100%);
    margin-top: 50px;
    padding: 0 30px;
}

.grid__column-3 img,
.grid__column-4 img {
    width: 100%;
}


.info-grid {
    max-width: 50%;
    margin: 0 auto;
}

.grid--padding-top-100 {
    padding-top: 100px;
}

.grid--padding-bot-100 {
    padding-bottom: 100px;
}

.grid--padding-90-120 {
    padding: 90px 0 120px;
}

.grid--padding-120 {
    padding: 120px 0;
}

/* Background Modifier */
.primary-bg {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.bg-333 {
    background-color: #333;
}

/* Navigation header */
.header {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 100000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 24px 100px;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-link {
    font-family: 'Signika', sans-serif;
    text-decoration: none;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    transition: 0.5s;
    line-height: 40px;
    color: #fff;
}

.header__navbar-list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.header__navbar-item {
    list-style: none;
}
.header__navbar-item:not(:first-child) {
    margin-left: 28px;
}
.header__navbar-item:nth-child(n+7) {
    margin-left: 14px;
}
.header__navbar-item-link {
    text-decoration: none;
    font-size: 1.6rem;
    padding: 35px 0;
    font-weight: 500;
    transition: 0.5s;
}
.header__navbar-item-link,
.header__navbar-icon-link {
    color: var(--white-color);
}
.header__navbar-item-link:hover {
    color: #ffffffd9;
}

.header__navbar-icon-link {
    font-size:1.8rem;
    transition:0.5s;
}
.header__navbar-icon-link:hover {
    color: rgba(255, 255, 255, 0.69);
}
/* StickyNavbar */
.sticky {
    background: #fff;
    padding: 12px 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.sticky a {
    color:#000;
}
.sticky .header__navbar-item-link:hover {
    color:rgba(0, 0, 0, 0.69);
}
.sticky .header__navbar-icon-link:hover {
    color:rgba(0, 0, 0, 0.69);
}
/* Search bar */
.search {
    position: relative;
    margin: 20px auto 0;
    width: 60%;
    border: 2px solid #fff;
    border-radius: 30px;
    overflow: hidden;
}

.search-input {
    height: 60px;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 0 0 30px;
    font-size: 1.6rem;
    color: var(--white-color) !important;
    background-color: rgba(0, 0, 0, 0.4);
}

.search-input::placeholder {
    color: var(--white-color);
}

.search__btn-wrapper {
    position: absolute;
    top: 0;
    right: -1px;
    height: 100%;
    width: 15%;
}

.search__btn {
    height: 100%;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--white-color);
}

.search__btn:hover {
    background: transparent;
    border-left: 1px Solid #fff;
}

.search__btn:hover .search__btn-icon {
    color: var(--white-color);
}

.search__btn-icon {
    font-size: 2rem;
    color: #82B440;
}

/* Container */
.container {
    width: 100%;
}

/* Footer */
.footer {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

/* Signup */
.sign-up {
    padding: 80px 0;
    text-align: center;
}

.sign-up__heading {
    font-size: 3.6rem;
    line-height: 4rem;
    font-family: 'Signika', sans-serif;
    margin: 0 0 30px;
}

.sign-up__subtitle {
    font-size: 1.6rem;
    margin: 0 0 30px;

}

.sign-up__input-wrapper {
    position: relative;
    max-width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
    height: 42px;
    border: 1px solid transparent;
    border-radius: 28px;
    overflow: hidden;
}

.sign-up__input-email {
    display: flex;
    flex: 1;
    height: 42px;
    outline: none;
    border: none;
    font-size: 1.4rem;
    background-color: var(--primary-color);
    padding: 0 16px;
}

.sign-up__input-submit {
    position:absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 110px;
    padding: 0;
    outline: none;
    border: none;
    background-color: rgba(79, 214, 117, 0.6);
    font-size: 1.2rem;
    color: var(--black-color);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    border-radius: 28px;
    transition: 0.3s;
}
.sign-up__input-submit:hover {
    background-color: #43b864;
    color: #fff;
    width: 140px;
}

.sign-up__term {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-up__term-input {
    margin-right: 4px;
}

.sign-up__term-text {
    font-size: 1.6rem;
    margin: 0;
    color: var(--text-color);
}
.sign-up__term-link {
    color: var(--text-color);
}
.sign-up__term-link:hover {
    text-decoration: none;
}
/* Footer gallery */
.gallery {
    display: flex;
    width: 100%;
}
.gallery__bg {
    padding-top: 16.66667%;
    width: 16.66667%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
/* Footer bottom */
.footer__bottom {
    min-height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__social {
    display: flex;
}

.footer__social a {
    text-decoration: none;
    margin: 7px 12px;
    transition: 0.2s;
}

.footer__social a:hover {
    opacity: 0.7;
}

.footer__social i {
    font-size: 2.4rem;
    color: #fff;
}

.footer__powered {
    font-size: 1.6rem;
    color: var(--white-color);
    margin: 0;
    padding: 12px 0;
}

.footer__powered span {
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: 600;
    font-style: italic;
    font-family: 'Signika', sans-serif;
    letter-spacing: 1px;
}