/* Top banner CSS */
.top-banner {
    background: url(../img/top-banner.jpg) no-repeat;
    background-position: top 25% left 50%;
    background-size: cover;
    height: 100vh;
}

.top-banner h1,
h2 {
    color: var(--white-color);
}

.top-banner h1 span {
    color: var(--primary-color);
}

.top-banner .input-group {
    background: transparent;
    border: 2px solid var(--white-color);
    border-radius: 1.875rem !important;
    height: 60px;
    overflow: hidden;
}

.top-banner .input-group input {
    background: transparent;
    border: none;
    outline: none;
    padding: 0 2rem;
    caret-color: var(--white-color);
    color: var(--white-color);
}

.top-banner .input-group input::placeholder {
    color: var(--white-color);
}

.top-banner .input-group input:focus {
    box-shadow: none;
}

.top-banner .input-group .main-btn {
    border: none;
    box-shadow: none;
}

.top-banner .input-group .main-btn:hover {
    border-left: 1px solid var(--white-color);
}

/* Card section */
.welcome {
    text-align: center;
}

.section__heading {
    font-size: 2.5rem;
    margin: 0;
}

.welcome .card {
    margin-top: 30px;
    padding: 0 45px;
    border: none;
}

.welcome .card -body {
    margin-top: 15px;
}

.welcome .card-title {
    font-style: italic;
    font-size: 2.25rem;
}

.card-title span {
    color: var(--black-color);
    font-weight: 400;
}

/* Gallery section */
.gallery {
    background-color: #FAFAFA;
}

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 390px 60px 390px;
    grid-gap: 16px;
    padding: 16px;
    grid-template-areas:
        "h1 h1 h2 h3"
        "h4 h5 h2 h3"
        "h4 h5 h6 h6";
}

.gallery-grid--video {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px 200px 200px;
    grid-gap: 16px;
    padding: 16px;
    grid-template-areas:
        "h1 h1 h2 h2 h2 h2"
        "h1 h1 h2 h2 h2 h2"
        "h1 h1 h5 h5 h3 h3"
        "h1 h1 h5 h5 h3 h3"
        "h4 h4 h4 h4 h3 h3"
        "h4 h4 h4 h4 h3 h3"
}

.gallery-item {
    border-radius: 10px;
    overflow: hidden;
}

.gallery-item:first-child {
    grid-area: h1;
}

.gallery-item:nth-child(2) {
    grid-area: h2;
}

.gallery-item:nth-child(3) {
    grid-area: h3;
}

.gallery-item:nth-child(4) {
    grid-area: h4;

}

.gallery-item:nth-child(5) {
    grid-area: h5;

}

.gallery-item:nth-child(6) {
    grid-area: h6;

}
.gallery-bg {
    width: 100%;
    height: 100%;
}

/* Gallery hover */
.gallery-item {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    z-index: 1;
    text-align: center;
}

.gallery-item::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: all 0.4s ease-out 0s;
}

.gallery-item:hover::after {
    visibility: visible;
    opacity: 1;
}

.gallery-item:hover {
    cursor: pointer;
}

.g-caption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    animation: fadeIn 1s;
}

.popular-section .gallery-item:hover .g-caption {
    top: 50%;
    transform: translateY(-50%);
    visibility: visible;
    opacity: 1;
}

.g-caption__heading {
    font-size: 3.125rem;
    margin: 0;
    color: var(--white-color);
}

.g-caption__sub {
    color: var(--white-color);
    font-size: 1rem;
}

.white-btn:hover,
.white-btn:hover .more-btn-icon {
    color: var(--white-color) !important;
    border-color: var(--white-color) !important;
}

/* About Us Section */
.about-us p {
    text-align: justify !important;
}

.about-us .section__heading {
    line-height: 2.5rem;
}

.about-us .section__sub {
    color: var(--text-gray);
    font-size: .875rem;
    font-style: italic;
}

.about-us__img {
    border-radius: 10px;
    box-shadow: 0 0 20px #555;
}

/* Newsletter Section */
.news-letter .main-btn {
    letter-spacing: 1px;
    padding: 10px 45px;
}

/* Videos Section */
.lemon-bg {
    background: url(../img/lemon.png), url(../img/lemon.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 30%, 70%;
    background-size: contain, contain;
}
.playback-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    visibility: hidden;
    opacity: 0;
}

.gallery-item:hover .playback-btn {
    visibility: visible;
    opacity: 1;
}

.playback-img {
    width: 100px;
}

.video-section .g-caption {
    padding:16px 0;
    visibility: visible;
    opacity: 1;
    background-color: rgba(17, 17, 17, 0.4);
}

.video-section .g-caption__sub {
    margin: 0;
}
.card {
    background: none;
}