.navigation-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    padding: 1.5rem 0;
    transition: .3s ease-out;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 1000;
}

.navbar-brand {
    font-size: 3rem;
    font-weight: 500;
    font-family: 'Birthstone Bounce', cursive;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    transition: .3s ease-out;
    color: var(--white-color);
    text-shadow: 0 0 10px var(--primary-color), 0 0 20px var(--primary-color), 0 0 40px var(--primary-color);
}
.navbar-toggler {
    border: 1px solid var(--white-color);
}

.navbar-toggler:focus {
    outline: unset;
    box-shadow: none;
}

.navbar-toggler-icon {
    font-size: 1.5rem !important;
    line-height: 2.25rem;
    vertical-align: middle;
}

.navbar-nav .nav-item {
    margin-left: .375rem;
}

.nav-link {
    font-size: .9375rem;
    color: var(--white-color);
    transition: .3s ease-out;
    text-shadow: 5px 5px 10px #000;
}

.nav-link:hover,
.nav-link.active {
    color: var(--primary-color);
}

.nav-item:nth-child(n+6) .nav-link {
    padding: .5rem .375rem;
}
.nav-icon {
    font-size: 1.25rem;
}
.sticky {
    background-color: var(--white-color) !important;
    padding: .75rem 0;
    box-shadow: 0 0 10px rgb(169, 169, 169);
}

.sticky .navbar-brand,
.sticky .nav-link,
.sticky .navbar-toggler-icon {
    text-shadow: none;
    color: var(--black-color) !important;
}
.sticky .navbar-brand {
    font-size: 2.5rem;
}
.sticky .nav-link:hover,
.sticky .nav-link.active {
    color: var(--primary-color) !important;
}

/* Top banner CSS */
.top-banner {
    background: url(../img/top-banner.jpg) no-repeat;
    background-position: top 25% left 50%;
    background-size: cover;
    height: 100vh;
}

.top-banner h1,
h2 {
    color: var(--white-color);
}

.top-banner h1 span {
    color: var(--primary-color);
}

.top-banner .input-group {
    background: transparent;
    border: 2px solid var(--white-color);
    border-radius: 1.875rem !important;
    height: 60px;
    overflow: hidden;
}

.top-banner .input-group input {
    background: transparent;
    border: none;
    outline: none;
    padding: 0 2rem;
    caret-color: var(--white-color);
    color: var(--white-color);
}

.top-banner .input-group input::placeholder {
    color: var(--white-color);
}

.top-banner .input-group input:focus {
    box-shadow: none;
}

.top-banner .input-group .main-btn {
    border: none;
    box-shadow: none;
}

.top-banner .input-group .main-btn:hover {
    border-left: 1px solid var(--white-color);
}

/* Card section */
.welcome {
    text-align: center;
}

.section__heading {
    font-size: 2.5rem;
    margin: 0;
}

.welcome .card {
    margin-top: 30px;
    padding: 0 45px;
    border: none;
}

.welcome .card -body {
    margin-top: 15px;
}

.welcome .card-title {
    font-style: italic;
    font-size: 2.25rem;
}

.card-title span {
    color: var(--black-color);
    font-weight: 400;
}

/* Gallery section */
.gallery {
    background-color: #FAFAFA;
}

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 390px 60px 390px;
    grid-gap: 16px;
    padding: 16px;
    grid-template-areas:
        "h1 h1 h2 h3"
        "h4 h5 h2 h3"
        "h4 h5 h6 h6";
}

.gallery-grid--video {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px 200px 200px;
    grid-gap: 16px;
    padding: 16px;
    grid-template-areas:
    "h1 h1 h2 h2 h2 h2"
    "h1 h1 h2 h2 h2 h2"
    "h1 h1 h5 h5 h3 h3"
    "h1 h1 h5 h5 h3 h3"
    "h4 h4 h4 h4 h3 h3"
    "h4 h4 h4 h4 h3 h3"
}

.gallery-item {
    border-radius: 10px;
    overflow: hidden;
}

.gallery-item:first-child {
    grid-area: h1;
}

.gallery-item:nth-child(2) {
    grid-area: h2;
}

.gallery-item:nth-child(3) {
    grid-area: h3;
}

.gallery-item:nth-child(4) {
    grid-area: h4;

}

.gallery-item:nth-child(5) {
    grid-area: h5;

}

.gallery-item:nth-child(6) {
    grid-area: h6;

}

.gallery-img {
    z-index: -1;
}
.gallery-img.img-fluid {
    height: 100%;
    width: 100%;
}

/* Gallery hover */
.gallery-item {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    z-index: 1;
    text-align: center;
}

.gallery-item::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: all 0.4s ease-out 0s;
}

.gallery-item:hover::after {
    visibility: visible;
    opacity: 1;
}
.gallery-item:hover {
    cursor: pointer;
}
.g-caption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    visibility:hidden;
    opacity: 0;
    z-index: 5;
    animation: fadeIn 1s;
}
.gallery-item:hover .g-caption {
    top: 50%;
    transform: translateY(-50%);
    visibility: visible;
    opacity: 1;
}
.g-caption__heading {
    font-size: 3.125rem;
    margin: 0;
    color: var(--white-color);
}
.g-caption__sub {
    color: var(--white-color);
    font-size: 1rem;
}
.white-btn:hover,
.white-btn:hover .more-btn-icon {
    color: var(--white-color)!important;
    border-color: var(--white-color)!important;
}
/* About Us Section */
.about-us p {
    text-align: justify!important;
}
.about-us .section__heading {
    line-height: 2.5rem;
}
.about-us .section__sub {
    color: var(--text-gray);
    font-size: .875rem;
    font-style: italic;
}
.about-us__img {
    border-radius: 10px;
    box-shadow: 0 0 20px #555;
}
/* Newsletter Section */
.news-letter .main-btn {
    letter-spacing:1px;
    padding: 10px 45px;
}
/* Videos Section */
.playback-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    visibility: hidden;
    opacity: 0;
}
.gallery-item:hover .playback-btn {
    visibility: visible;
    opacity: 1;
}
.playback-img {
    width:100px;
}
.video-section .g-caption {
    height: 100%;
    padding-top: 32px;
}
/* Footer */
.gallery-bg {
    padding-top: 16.66667%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
.footer__bottom {
    background-color: #111;
}

.footer__powered,
.footer__social a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.25rem;
}
.footer__powered span {
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-weight: 700;
    letter-spacing: 1px;
    font-style: italic;
    text-shadow: 0 0 50px #fff;
}
.footer__social i {
    font-size: 1.5rem;
    margin: 0 .5rem;
}