/* Container */
.container {
    width: 100%;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    color: var(--white-color);
    background: url(../img/ice-cream-background.jpg) no-repeat center/cover;
}

.banner__heading {
    font-size: 4rem;
    font-family: 'Signika', sans-serif;
    margin: 0;
    line-height: 4rem;
    text-align: center;
}

.banner__sub-text {
    font-size: 1.8rem;
    margin: 16px 0 0 0;
    line-height: 1.8rem;
    text-align: center;
}

/* #background-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
} */

/* Introduce */
.introduce-container {
    width: 100%;
}

.intro-heading {
    text-align: center;
    margin: 0;
    letter-spacing: 1px;
    font-size: 4rem;
    color: var(--text-color);
    font-weight: 600;
    line-height: 4.8rem;
    font-family: 'Signika', sans-serif;
}

.intro-divider {
    max-width: 280px;
    margin: 0 auto;
    text-align: center;
}

.intro-divider__sub {
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-size: 1.6rem;
    color: var(--sub-color);
}

.intro-divider__sub::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 8px);
    background-color: rgba(0, 0, 0, 0.2);
}

.intro-divider__sub::before {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% + 8px);
    background-color: rgba(0, 0, 0, 0.2);
}

.intro__detail {
    margin-top: 30px;
    text-align: center
}

.intro__detail-heading,
.intro__detail-heading strong {
    font-size: 3.6rem;
    color: var(--text-color);
    font-style: italic;
    font-family: 'Signika', sans-serif;
}

.intro__detail-text {
    font-size: 1.6rem;
    color: var(--text-color);
    text-align: justify;
    margin: 30px 0 0 0;
}

/* Section */
.section {
    display: flex;
    min-height: 880px;
}

.section__img {
    width: 50%;
    border-radius: 8px;
}

.section__img--box-shadow {
    box-shadow: rgb(38, 57, 77) 10px 20px 30px -10px;

}

.section__img--box-shadow-reverse {
    box-shadow: rgb(38, 57, 77) -10px 20px 30px -10px;

}

.section__img--welcome {
    background: url(../img/welcome.jpg) no-repeat center/cover;
}

.section__img--travel {
    background: url(../img/travel.JPG) no-repeat center/cover;
}

.section__info {
    width: 50%;
    color: var(--text-color);
    padding: 64px 0;
    display: flex;
    align-items: center;
    text-align: center;
}

.section__info-heading {
    letter-spacing: 1px;
    font-size: 3.6rem;
    font-weight: 600;
    margin: 0;
    line-height: 3.6rem;
}

.section__info-sub {
    font-size: 1.6rem;
    margin: 4px 0 0 0;
    opacity: 0.8;
    font-style: italic;
}

.section__info-text {
    font-size: 1.6rem;
    margin-top: 64px;
    line-height: 1.5;
    font-weight: 300;
    text-align: justify;
}

.section__info-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 150px;
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    vertical-align: middle;
    color: var(--text-color);
    padding: 16px 22px;
    margin: 0 auto;
    transition: all .2s ease;
}

.section__info-link:hover {
    color: var(--white-color);
}

.section__info-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 24px;
    width: 48px;
    height: 48px;
    transition: all .3s ease;
    background: rgba(83, 143, 45, 0.5);
    z-index: -1;
}

.section__info-link:hover::before {
    width: 100%;
    background: rgba(83, 143, 45, 1);
}

.section__info-link:active {
    transform: scale(.96);
}

.section__info-link-icon {
    color: var(--text-color);
    font-size: 1rem;
    margin-left: 8px;
}

.section__info-link:hover .section__info-link-icon {
    color: var(--white-color);
}